
nav.main-nav
	.logo
		img(src="/images/logo.png", alt="Logo", srcset="")
	ul.nav-list
		li.nav-item
			a(href="index.html") Home
		li.nav-item
			a(href="mission.html") Mission
		li.nav-item
			a(href="join.html") Join
		li.nav-item
			a(href="contact.html") Contact
		li.nav-item
			a(href="about.html") About