doctype html
html(lang="en")
	head
		title #{pageTitle}
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		block more-meta
		link(rel="stylesheet", href="styles/main.css")
		block more-styles
		block more-scripts
	body
		header#main-header
			block main-nav
				include ../includes/main-nav.pug
		main
			block main-content
		aside#left-aside
			block left-aside
		aside#right-aside
			block right-aside
		footer#footer
				block footer
					include ../includes/footer.pug