//calculating shades of a base color
//consult the Stylus docs for built in functions
//     typographic uses functions to calc ratios of font sizes

//Stylus built in functions
grayscale(blue)   //returns gray scale of a color
tint(#00f, 50%)   //mix with white
shade(#00f, 50%)
invert(#00f) //inverted
complement(blue)   //opposite
desaturate(blue, 50%)
ceil(4.6px)   //becomes 5px   
floor(4.6px)  //becomes 4px
round(4.6px)  //rounds to the next 
unit(4.6%)  //returns '%'
unit(4.6%, 'px')  //returns 4.6px

add(a, b, c = 3)   //also can use c = a (uses another named variable)
  a + b + c
  
calcMargin(a, b)
  return a a*10 a*b a   //returns 4 values


