//Variable declarations

color-primary-100 = hsl(227, 18%, 80%)
color-primary-200 = hsl(226, 18%, 70%)
color-primary-300 = hsl(226, 18%, 60%)
color-primary-400 = hsl(226, 18%, 50%)
color-primary-500 = hsl(226, 94%, 40%)
color-primary-600 = hsl(226, 18%, 30%)
color-primary-700 = hsl(226, 18%, 20%)

color-secondary-100 = hsl(0, 97%, 80%)
color-secondary-200 = hsl(0, 97%, 70%)
color-secondary-300 = hsl(0, 97%, 60%)
color-secondary-400 = hsl(0, 97%, 50%)
color-secondary-500 = hsl(0, 97%, 40%)
color-secondary-600 = hsl(0, 97%, 30%)
color-secondary-700 = hsl(0, 97%, 12%)

color-primary-contrast-100 = hsl(0, 60%, 70%)
color-primary-contrast-200 = hsl(0, 60%, 60%)
color-primary-contrast-300 = hsl(0, 60%, 50%)
color-primary-contrast-400 = hsl(0, 60%, 40%)
color-primary-contrast-500 = hsl(0, 60%, 30%)
color-primary-contrast-600 = hsl(0, 60%, 20%)
color-primary-contrast-700 = hsl(0, 60%, 12%)

color-text-primary = hsl(62, 77%, 91%)
color-text-secondary = hsl(42, 54%, 74%)
color-text-tertiary = hsl(302, 74%, 27%)
color-text-warning = hsl(0, 45%, 43%)

color-primary-background-100 = #cccccc
color-primary-background-300 = #909090
color-primary-background-500 = #747474
color-primary-background-700 = #252525
