body {
  background-color: #909090;
  color: #fb0404;
}
body main main-nav {
  position: fixed;
  top: 0;
  left: 20;
}
.nav-list {
  list-style-type: none;
}
.nav-list .li {
  text-decoration: none;
}
